@use "mixins";

.home__wrapper {
	width: 100%;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: flex-start;
	@include mixins.respond-to(medium) {
		align-items: center;
		flex-wrap: wrap;
	}
}

.home__themes-catalog {
	align-self: flex-start;
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 1rem;
  padding: 2rem;
  padding-bottom: 2rem;
  margin: 0;
  list-style: none;
  height: 100%;
	overflow-y: auto;
	min-width: 0;
	@include mixins.respond-to(medium) {
		height: 23%;
		padding-top: 1rem;
	}
}

.home__theme-button {
	background: var(--background);
	color: var(--primary);
	border: var(--border);
	font-size: 1.1rem;
	font-family: var(--secondary-font);
	padding: .5rem;
  width: 100%;
  
  /* Text truncation */
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  &:hover {
		color: var(--text);
	}
  @media(hover:none) {
  	&:hover {
			color: var(--primary);
  	}
  }
}

.home__theme-current {
	overflow-y: auto;
	padding: 1rem;
	padding-top: 2rem;
	width: 100%;
	height: 100%;
	max-width: 150ch;
	@include mixins.respond-to(medium) {
		padding-top: .5rem;
	}
}

.secret__themes-catalog {
	width: 20%;
	justify-content: flex-start;
	display: flex;
	flex-direction: column;
	.home__theme-button {
		flex-basis: 50%;
	}
	@include mixins.respond-to(medium) {
		width: 100%;
	}
}
