.home__wrapper {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 2rem 0;
}

.home__themes-catalog {
	// display: flex;
	// flex-direction: column;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: repeat(auto, 1fr);
	// grid-auto-rows: 1fr;
	gap: 2rem;
}